.mainBlock {
    height: calc(100vh - 80px);
    background-color: #8eac50;
}

.greetings {
    width: 300px;
    background-color: rgba(180, 180, 180, 0.5);
}
.container{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: rgba(180, 180, 180, 0.5);
}
@media screen and (max-width: 700px){
    .mainBlock{
        height: calc(80vh - 80px);
    }
}